# build artifacts (binaries)
/mindchess
/mindchess_zen5
/mindchess[0-9]
/mindchess[0-9]*[0-9]
/mindchess[0-9]_gcc
/mindchess[0-9]_clang
/mindchess[0-9]*[0-9]_gcc
/mindchess[0-9]*[0-9]_clang
/m[0-9]_gcc
/m[0-9]_clang
/m[0-9]_perf
/mindchess_bench
/simd_probe
/chessbit_gcc
/chessbit_clang
/chessbit_gcc_zen5
/chessbit_clang_zen5

# profiling artifacts
*.data
perf.data*
